html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
    background: #d2edd3;
}

a {
    color: inherit;
    text-decoration: none;
}


img {
    vertical-align: middle;
}

/* animation start */

@keyframes btn {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    42% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    58% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

/* animation end */

.btn_animation {
    -webkit-animation: btn 2s ease 0s infinite alternate;
    animation: btn 2s ease 0s infinite alternate;
    -webkit-transform-origin: center;
    transform-origin: center;
}

.web {
    width: 640px;
    max-width: 100%;
    margin: 0px auto 0px auto;
    height: auto;
    overflow: hidden;
    font-family: 黑体;
    background: white;
}

.web>.title {
    width: 95%;
    margin: 0 auto 0 auto;
    line-height: 30px;
    font-size: 18pt;
    font-weight: 600;
    height: auto;
    padding: 10px;
}

.content {
    width: 100%;
    margin: 0px auto 0px auto;
    height: auto;
    overflow: hidden;
    margin-top: 50px;
    font-size: 13pt;
    line-height: 25px;
}

.content p {
    padding: 0 !important;
    margin: 0 !important;
    font-size: 13pt;
    line-height: 25px;
}

.web img {
    width: 100%;
    max-width: 100%;
}

.guild {
    max-width: 631px;
    position: fixed;
    bottom: -2px;
    left: 0%;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
}


.guild>.title {
    text-align: center;
    font-size: 16px;
    color: #018067;
    background-color: #fff;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.guild .button-group .button {
    margin: 0 auto;
    /* width: 49.5%; */
    width: 90%;
}

.guild img {
    width: 100%;
}

.web ul {
    list-style: none !important;
    padding: 0 !important;
}

.open-page {
    cursor: pointer;
}

.padding-el {
    width: 100%;
    color: #666;
    text-align: center;
    font-size: 14px;
    background: #fff;
    padding-top: 10rem;
}

@media (max-width:768px) {
    .padding-el {
        padding-top: 5rem;
    }
}